body {
  padding-top: 50px;
}

.login-form > div {
  margin-top: 10px;
}

/* Confirmation for Added Task */
.alert-success {
  background-image: linear-gradient(
    var(--color-success-subtle),
    var(--color-success-subtle)
  );
  border-color: var(--color-success-muted);
  color: var(--color-fg-default);
}

/* Confirmation for Removed Task */
.alert-deleted {
  background-color: #ffdddd !important;
  border-color: var(--color-danger-muted);
  color: var(--color-fg-default);
}

/* Pagination for To Do List */

/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
