{% extends "layout.html" %} {% block content %} {% for flashMessage in
app.session.flashbag.get('added') %}
<div class="alert alert-success">{{ flashMessage }} {% endfor %}</div>
{% for message in app.session.flashbag.get('deleted') %}
<div class="alert alert-deleted">{{ message }} {% endfor %}</div>
<div class="col-md-4 col-md-offset-4">
  <h1>Todo List:</h1>
  <table id="listInfo" class="table table-striped">
    <th>#</th>
    <th>User</th>
    <th>Description</th>
    <th>Completed</th>
    <th>JSON</th>
    <th></th>
    {% for todo in todos %}
    <tr>
      <td id="id">{{ todo.id }}</td>
      <td id="user">{{ todo.user_id }}</td>
      <td>
        <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
          {{ todo.description }}
        </a>
      </td>
      <td id="des" hidden>{{ todo.description }}</td>
      <td id="complete">
        <input
          type="checkbox"
          id="{{ todo.id }}"
          value="{{ todo.description }}"
          onclick="save_checkbox(this.id, this.value)"
        />
      </td>
      <td id="json"></td>
      <td id="delete">
        <form
          method="post"
          action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}"
        >
          <button type="submit" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-remove glyphicon-white"></span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr id="add">
      <form method="post" action="{{ app.request.baseurl }}/todo/add">
        <td colspan="3">
          <input
            type="textbox"
            name="description"
            class="small-6 small-center"
            placeholder="Description..."
            required
          />
        </td>
        <td>
          <button type="submit" class="btn btn-sm btn-primary">Add</button>
        </td>
        <td></td>
      </form>
    </tr>
  </table>
  <p id="rows"></p>
  <a href="#">&laquo;</a>
  <div id="pagination" class="pagination">
    <p>View Each Task On A Separate Page:</p>
    <a href="#">&laquo;</a>
    <div id="page_number">
      <a href="#">1</a>
    </div>
    <a href="#">&raquo;</a>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="./../js/complete.js"></script>
<script src="./../js/json.js"></script>
<script src="./../js/pagination.js"></script>

{% endblock %}
