{% extends "layout.html" %} {% block content %} {% for flashMessage in
app.session.flashbag.get('added') %}
<div class="alert alert-success">{{ flashMessage }} {% endfor %}</div>
{% for message in app.session.flashbag.get('deleted') %}
<div class="alert alert-deleted">{{ message }} {% endfor %}</div>
<div class="col-md-4 col-md-offset-4">
  <h1>Todo List:</h1>
  <table id="listInfo" class="table table-striped">
    <th>#</th>
    <th>User</th>
    <th>Description</th>
    <th>Completed</th>
    <th>JSON</th>
    <th></th>
    {% for todo in todos %}
    <tr>
      <td id="id">{{ todo.id }}</td>
      <td id="user">{{ todo.user_id }}</td>
      <td>
        <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
          {{ todo.description }}
        </a>
      </td>
      <td id="des" hidden>{{ todo.description }}</td>
      <td>
        <input
          type="checkbox"
          id="{{ todo.id }}"
          value="{{ todo.description }}"
          onclick="save_checkbox(this.id, this.value)"
        />
      </td>
      <td id="json"></td>
      <td>
        <form
          method="post"
          action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}"
        >
          <button type="submit" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-remove glyphicon-white"></span>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <form method="post" action="{{ app.request.baseurl }}/todo/add">
        <td colspan="3">
          <input
            type="textbox"
            name="description"
            class="small-6 small-center"
            placeholder="Description..."
            required
          />
        </td>
        <td>
          <button type="submit" class="btn btn-sm btn-primary">Add</button>
        </td>
        <td></td>
      </form>
    </tr>
  </table>
  <p id="rows"></p>
  <div class="pagination">
    <p>View Each Task On A Separate Page:</p>
    {% for todo in todos %}
    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">{{ todo.id }}</a>
    {% endfor %}
  </div>
</div>
<script>
  var table = document.getElementById('listInfo')

  var rowsPerPage = 6

  var rowCount = table.rows.length
  //console.log(rowCount)

  var rows = document.querySelectorAll('tr')
  var total_r = rows.length - 1 // get num of rows minus the Add

  if (total_r > 6) {
    // take the remaining rows, convert to JSON and store it in a new array
    // create new table, add the remaining rows from new array there
    // have this table hidden from view until the user presses page 2
    // when user presses page 2, hide the current table
    // generate more pages if array on current page gets bigger
    // repeat as required
  }

  // console.log(total_r)
</script>
<script type="text/javascript">
  var tdid = document.querySelectorAll('td#id') // array
  var total_id = []

  var tduser = document.querySelectorAll('td#user') // array
  var total_user = []

  var tddesc = document.querySelectorAll('td#des') // array
  var total_desc = []

  tdid.forEach((id) => {
    total_id.push(id.innerHTML)
  })

  tduser.forEach((uid) => {
    total_user.push(uid.innerHTML)
  })

  tddesc.forEach((desc) => {
    total_desc.push(desc.innerHTML)
  })

  var datas = [
    {
      id: total_id[0],
      user_id: total_user[0],
      description: total_desc[0],
    },
  ]

  for (var i = 1; i < total_id.length; i++) {
    datas.push({
      id: total_id[i],
      user_id: total_user[i],
      description: total_desc[i],
    })
  }

  var json = document.querySelectorAll('td#json')

  for (var i = 0; i < total_id.length; i++) {
    json[i].textContent =
      '{ id: ' +
      datas[i].id +
      ', user_id: ' +
      datas[i].user_id +
      ', description: ' +
      datas[i].description +
      ' }'
  }
</script>
{% endblock %}
