{% extends "layout.html" %} {% block content %}
<div class="col-md-4 col-md-offset-4">
  <h1>Todo:</h1>
  <table class="table table-striped">
    <th>#</th>
    <th>User</th>
    <th>Description</th>
    <th>Completed</th>
    <th></th>
    <tr>
      <td id="id">{{ todo.id }}</td>
      <td id="user">{{ todo.user_id }}</td>
      <td id="description">{{ todo.description }}</td>
      <td>
        <input
          type="checkbox"
          id="{{ todo.id }}"
          value="{{ todo.description }}"
          onclick="save_checkbox(this.id, this.value)"
        />
      </td>
      <td>
        <form
          method="post"
          action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}"
        >
          <button type="submit" class="btn btn-xs btn-danger">
            <span class="glyphicon glyphicon-remove glyphicon-white"></span>
          </button>
        </form>
      </td>
    </tr>
  </table>
  <p>In JSON Format:</p>
  <pre id="json"></pre>
  <script>
    var tdid = document.getElementById('id')
    var idText = tdid.innerHTML

    var tduser = document.getElementById('user')
    var userText = tduser.innerHTML

    var tddes = document.getElementById('description')
    var desText = tddes.innerHTML

    var data = { id: idText, user_id: userText, description: desText }

    document.getElementById('json').innerHTML = JSON.stringify(data, null, 4)
  </script>
</div>

{% endblock %}
